body {
  font-family: "Lexend", sans-serif;
  background-color: rgb(24,24,24);
  color: white;
}

form input {
  min-width: auto;
}

a {
  color: #d14f4f;
  display: inline-block;
  transition: all 0.2s;
}

a:hover {
  color: #d80000;
  transform: scale(1.1);
  margin: 0 0.4em;
}
